.section-one{
    width: 20%;
    margin-top: 50px;
}

.presentation-produit{
    margin-left: 50px;
}

.titre{
    display: flex;
    justify-content: center;
}

.h3-titre{
    font-size: 35px;
}

/* Le carousel*/

.carousel {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    margin-top: 20px;
}

.mySlides {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

.mySlides:nth-child(1) {
    background-size: cover;
    background-position: center;
}

.mySlides:nth-child(2) {
    background-size: cover;
    background-position: center;
}

.mySlides:nth-child(3) {
    background-size: cover;
    background-position: center;
}

.mySlides:nth-child(4) {
    background-size: cover;
    background-position: center;
}

.mySlides:nth-child(5) {
    background-size: cover;
    background-position: center;
}

.mySlides:nth-child(6) {
    background-size: cover;
    background-position: center;
}

.mySlides:nth-child(7) {
    background-size: cover;
    background-position: center;
}

.mySlides:nth-child(8) {
    background-size: cover;
    background-position: center;
}

.mySlides:nth-child(9) {
    background-size: cover;
    background-position: center;
}

/* Section Two*/

.section-two{
    width: 70%;
    display: flex;
    justify-content: center;
    margin-top: -20px;
}

.titre-description{
    display: flex;
    justify-content: space-evenly;
}

.descp{
    padding-right: 180px;
}

.les-infos p {
    margin-top: 10px;
}

/* Le contenu*/

.button-360{
    background-color: #EE1F51;
    border: none;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 14px;
    cursor: pointer;
}

.logo-tel{
    display: inline;
}

.numero-tel{
    color: black;
    text-decoration: none;
}

.BBC-section{
    font-size: 14px;
    margin-left: 70px;
    font-style: italic;
}

.logo-tel a {
    margin-top: -20px;
}


/* Les options*/

.section-three{
    width: 60%;
    margin-top: 130px;
    margin-bottom: 50px;
}

.bloc{
    content: "";
    display: table;
    clear: 0 10px;
    border: 1px solid #B8B8B8;
    background-color: #dcdde1;
    margin-left: 50px;
}

.titre-bloc{
    display: flex;
    justify-content: center;
    margin-right: 100px;
}

div .liste-1,
div .liste-2{
    float: left;
    height: 290px;
    padding: 0 40px;
}

.liste-2{
    margin-left: 80px;
}


/* Le formulaire*/

.formulaire{
    width: 30%;
    position: absolute;
    right: 10%;
}

.bloc-form{
    display: inline-block;
    text-align: center;
}

.bloc-form-contenu{
    width: 40%;
    margin-left: 130px;
    margin-top: 50px;
}

.bloc-form-contenu input{
    width: 120%;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 20px;
}

.bloc-form-contenu textarea{
    height: 80px;
    width: 120%;
    margin-bottom: 20px;
}

.button-envoyer{
    width: 120px;
    background-color: #EE1F51;
    border: 1px solid #B8B8B8;
    cursor: pointer;
}