.haut-page {
    margin-top: 50px;
    margin-bottom: 50px;
}

.fleche {
    margin-left: 150px;
}

.titre-vehicule {
    display: flex;
    justify-content: center;
}


.afficher-liste {
    display: flex;
    justify-content: center;
    margin-bottom: 110px;
}

.afficher-liste table {
    border-collapse: collapse;
    width: 70%;
}

.afficher-liste table th,
.afficher-liste table td {
    border: 1px solid grey;
    padding: 5px; 
    text-align: center;
}

.vide {
    border: none !important ;
}

.id {
    display: none;
}

.checkbox {
    border: none !important;
}

.password {
    display: none;
}

.explication {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 60px;
}

.explication p {
    font-size: 20px;
    color: red;
}

.container {
    display: flex;
    justify-content: center;
}

.groupe1,
.groupe2 {
    display: flex;
    flex-direction: column;
    margin-right: 100px;
    margin-bottom: 40px;
}

.groupe1 .form-group,
.groupe2 .form-group {
    margin-bottom: 40px;
}

.form-group label {
    display: inline-block;
    width: 120px;
    text-align: right;
    margin-right: 10px;
}

.form-group input {
    width: 200px;
    padding: 5px;
}

.bouton {
    display: block;
    margin: 0 auto;
    text-align: center;
    background-color: #D00748;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #D00748;
    border-radius: 100px 100px 100px 100px;
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    margin-bottom: 57px;
}