* {
    font-family: 'Roboto', sans-serif;
}

.header {
    background: rgba(50, 50, 50, 0.35);
    height: 130px;
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
    /* backdrop-filter: blur(15px); */
    border-bottom: 1px solid rgba(50, 50, 50, 0.26);
}


/* Mise en forme des coordonées en haut de la page avec leur logo. */
.coordonnées-haut {
    display: flex;
    color: white;
}

.adresse {
    margin-left: 350px;
    margin-top: 15px;
}

.fa-envelope {
    color: red;
}

.mail {
    margin-left: 20px;
    text-decoration: none;
    color: white;
    font-size: 16.5px;
}

.fa-phone {
    color: #ff0000;
}

.telephone {
    margin-left: 750px;
    margin-top: 15px;
}

.numero {
    margin-left: 20px;
    text-decoration: none;
    color: white;
    font-size: 16.5px;
}

.logo {
    margin-left: 50px;
    size: 18px;
    margin-top: 10px;
}

.facebook {
    margin-right: 3px;
}

.instagram {
    margin-left: 3px;
}



/* Mise en place du logo et de la barre de navigation */
/* Logo BBC*/

.info {
    display: inline;
}

.logo-bbc {
    display: flex;
    margin-left: 150px;
    margin-top: 10px;
}

.titre {
    display: flex;
    margin-left: -18px;
    /* margin-top: 10px; */
}

.titre-logo {
    color: white;
    margin-top: 20px;
    font-size: 30px;
}

.separation {
    color: #B0E3FB;
    margin-top: 19px;
    font-size: 30px;
}

.logo-bbc p {
    margin-left: 5px;
}

/* Barre de Nagivation*/



.info a,
.info p {
    text-decoration: none;
    color: white;
}

.info a {
    font-size: 16.5px;
}

.lien-vendeur {
    display: flex;
    justify-content: center;
    margin-left: -380px;
    margin-top: -50px;
    font-size: 16.5px;
}

.menu-deroulant {
    display: flex;
    justify-content: center;
    margin-left: 180px;
    margin-top: -20px;
}

.logo-home {
    display: flex;
    justify-content: center;
    margin-left: 930px;
    margin-top: -15px;
}

.lien-acheteur {
    display: flex;
    justify-content: center;
    margin-left: 650px;
    margin-top: -25px;
}

.connection {
    display: flex;
    justify-content: center;
    margin-left: 1150px;
    margin-top: -45px;
}

.message-connection {
    display: flex;
    justify-content: center;
    margin-left: 1150px;
}

.fa-user {
    color: white;
}

.fa-house {
    color: white;
    cursor: pointer;
}

.fa-angle-down {
    color: white;
}


/* Bloc Recherche Avancée*/

.bloc-recherche{
    width: 10%;
    background-color: #F9F7F4;
    height: 450px;
    border: 1px solid #b8b8b8;
    display: inline-block;
}

.bloc-1{
    border-bottom: 1px solid #b8b8b8;
    padding-bottom: 15px;
    padding-left: 15px;
}

.titre-recherche h3{
    font-size: 16px;
}

.ligne{
    border: none;
    border-top: 1px solid #EE1F51;
    width: 25%;
    margin: 10px 0;
}

.bloc-2{
    border-bottom: 1px solid #b8b8b8;
    padding-bottom: 15px;
    padding-left: 15px;
}

.prix h4{
    font-size: 14px;
}

.bloc-3{
    border-bottom: 1px solid #b8b8b8;
    padding-bottom: 15px;
    padding-left: 15px;
}

.annee h4{
    font-size: 14px;
}

.marque p,
.type p,
.carburant p,
.couleur p,
.transmission p,
.kilometrage p {
    display: inline-block;  
    vertical-align: middle; 
    padding-left: 10px;
    font-size: 12px;
}

.marque img,
.type img,
.carburant img,
.couleur img,
.transmission img,
.kilometrage img {
    vertical-align: middle;
    float: right; 
    margin-top: 10px;
    padding-right: 20px;
    width: 15px;
    height: 15px;
}

.encart-droite{
    width: 10%;
    height: 40px;
    background-color: #F9F7F4;
    border: 1px solid #b8b8b8;
    float: right;
}

.trier p {
    font-size: 14px;
    display: inline-block;  
    vertical-align: middle; 
    padding-left: 10px;
}

.trier img {
    vertical-align: middle;
    float: right; 
    margin-top: 10px;
    padding-right: 20px;
    width: 15px;
    height: 15px;
}

.contenu-central{
    text-align: center;
}

/* Première boite*/
.contenu-1{
    width: 13.5%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -350px;
}

.info-contenu .ligne{
    margin: auto;
}

#ligne-haut{
    width: 15%;
    padding-bottom: 15px;
}

#ligne-bas{
    width: 35%;
}

.prix,
.kilometrage{
    font-size: 18px;
}

.annee, 
.carburant,
.transmission{
    display: inline;
}
.annee{
    float: left;
    margin-top: 0px;
}

.carburant{
    float: right;
    margin-top: 0px;
}

/*Deuxième boite*/

.contenu-2{
    width: 13.5%;
    margin-left: auto;
    margin-right: 350px;
    margin-top: -350px;
}

.info-contenu-2 .ligne{
    margin: auto;
}

#ligne-haut-2{
    width: 15%;
    padding-bottom: 15px;
}

#ligne-bas-2{
    width: 35%;
}

.prix-2,
.kilometrage-2{
    font-size: 18px;
}

.annee-2, 
.carburant-2,
.transmission-2{
    display: inline;
}
.annee-2{
    float: left;
    margin-top: 0px;
}

.carburant-2{
    float: right;
    margin-top: 0px;
}

/* Footer*/

footer {
    margin-top: 60px;
    background: rgba(50, 50, 50, 0.35);
    height: 300px;
    margin-left: -8px;
    margin-right: -8px;
    border-bottom: 1px solid rgba(50, 50, 50, 0.26);
    position: absolute;
    bottom: -100px;
    width: 100%;
}

.logo-footer {
    display: flex;
    justify-content: space-around;
    margin-right: 350px;
}

.coordonnees-footer {
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin-top: -160px;
}

p.nos-coordonnees {
    color: white;
    font-size: 26px;
}

/* Logo */

.info-footer {
    display: inline;
}

.logo-bbc-footer {
    display: flex;
    justify-content: left;
    margin-top: 50px;
    margin-left: 50px;
}

.titre-footer {
    display: flex;
    margin-left: -18px;
    /* margin-top: 10px; */
}

.titre-logo-footer {
    color: white;
    margin-top: 20px;
    font-size: 30px;
}

.separation-footer {
    color: #B0E3FB;
    margin-top: 19px;
    font-size: 30px;
}

p.logo-bbc-footer {
    margin-left: 5px;
}


/* Coordonnées footer*/

.entreprise-footer {
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 100px;
}


.adresse-footer {
    display: flex;
    justify-content: center;
    width: 100%;
}

.logo-adresse-footer {
    margin-right: 20px;
}

.text-adresse {
    color: white;
    margin-bottom: 20px;
}



.tel-footer {
    display: flex;
    justify-content: center;
}

.text-tel {
    margin-right: 150px;
    margin-bottom: 30px;
}

.le-mail {
    display: flex;
    justify-content: center;
}


.text-mail {
    margin-right: 30px;
}